@model ExampleMVC.Models.Example

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Example</legend>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ExampleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


